// Разрешения
$notebook: 1366px;
$mobile: 992px;


html {
	height: 100%;
    scroll-behavior: smooth;
    font-size: 16px;
}

* {
    font-family: 'Open Sans', sans-serif !important;
}

*, *:before, *:after, *:focus {
	box-sizing: border-box;
    outline: none !important;
}

body {
    height: 100%;
    background: #E7EBF0;
    font-size: 16px;
    font-weight: 400;
    color: black;
}

header {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 50px;
}

footer {
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    background: #222222;
    min-height: 100px;
}

.logo {
    height: 70px;
}

img {
    max-width: 100%;
}

// Пользователь
.user {
    padding: 10px;
}

.user__name {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.user__status {
    text-align: center;
    font-style: italic;
}

.user__avatar {
    display: block;
    margin: 15px auto;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.user__button {
    display: block !important;
    margin: 20px auto !important;
}

.preloader {
    display: block;
    margin: 100px auto;
}