body {
    background: #182636;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

header {
    background: #222222;
}

.logo {
    height: 70px;
}

img {
    max-width: 100%;
}