@import '../../sass/variables.scss';

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    @media(max-width: $mobile) {
        justify-content: space-between;
    }
}

.logo {
    height: 55px;
}

.button {
    background: transparent;
    border: none;
    color: white;
}

.menuButton {
    background: transparent;
    border: none;
    color: white;
    display: none;
    font-size: 20px;
    @media(max-width: $mobile) {
        display: block;
    }
}

.menu {
    margin-bottom: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    @media(max-width: $mobile) {
        position: absolute;
		width: 60%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.8);
		margin: 0;
        top: 0;
        left: 0;
		z-index: 9999;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		transform: translateX(-100%);
    }
}

.active {
    @media(max-width: $mobile) {
        transform: translateX(0);
    }
}

.item {
    @media(max-width: $mobile) {
        width: 140px;
        box-shadow: inset 0 0 0 32px rgba(25, 118, 210, 0.8);
        padding: 15px 10px;
        margin-top: 20px;
    }
}

.link {
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    margin: 0 5px;
    padding: 15px;
    &:hover {
        box-shadow: inset 0 0 0 32px rgba(0, 255, 0, 0.1);
        color: lime;
    }
    &:focus {
        box-shadow: none;
        color: white;
    }
}

.avatarBox {
    margin-left: auto;
    display: flex;
    width: 110px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @media(max-width: $mobile) {
        margin-left: 0;
    }
}