.menu {
    margin-top: 20px;;
}

.item {
    display: block;
}

.link {
    color: #C7C7C7;
    text-decoration: none;
    &:hover {
        color: #F51A51;
        text-decoration: underline;
    }
}

.active {
    color: #F51A51;
    text-decoration: none;
    &:hover {
        color: #F51A51;
        text-decoration: underline;
    }
}