@import '../../sass/variables.scss';

.image {
    margin-top: 20px;
    height: 60px;
}

.technoBox {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    & img {
        margin-right: 20px;
    }
}

.typeBox {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    @media(max-width: $mobile) {
        margin-top: 40px;
        justify-content: center;
    }
}